In [1]:
import pandas as pd

In [4]:

def load_data():
    csv_path = "./Datasets/2023-03/EXTRACCION_Prov-San-Juan_032023.csv"
    return pd.read_csv(csv_path, delimiter=';',on_bad_lines='skip', names=['CODIGOENTIDAD', 'IDLINEA', 'NROTARJETA', 'CODIGOCONTRATO', 'FECHATRX','CODIGOTIPOTRX','RAMAL','ID_POSICIONAMIENTO','ID_COMBINACION'])

In [5]:
data=load_data()

/tmp/ipykernel_309/575279451.py:3: DtypeWarning: Columns (0,1,2,3,4,5,10,11,12,13,14,15,16,17,19,20,22,23,24,25,26,27,28,29,30,31,32,33,34,36,37,38,39,40) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(csv_path, delimiter=';',on_bad_lines='skip', names=['CODIGOENTIDAD', 'IDLINEA', 'NROTARJETA', 'CODIGOCONTRATO', 'FECHATRX','CODIGOTIPOTRX','RAMAL','ID_POSICIONAMIENTO','ID_COMBINACION'])

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 336859 entries, ('CODIGOENTIDAD', 'IDLINEA', 'NROCHIP', 'NROTARJETA', 'CODIGOCONTRATO', 'SECUENCIA_TARJETA', 'FECHATRX', 'MONTO', 'SALDO', 'VALOR_TARIFA', 'INTERNO', 'DISPOSITIVO', 'SECTERMINAL', 'CODIGOTIPOTRX', 'CODIGOSUBTIPOTRX', 'TIPOMAPPING', 'ENTIDAD_EMISORA_TARJ', 'CODIGOERROR', 'FECHAPROCESO', 'RAMAL', 'IDARCHIVOINTERCAMBIO', 'CODIGOROL', 'CODIGOTIPOTARJETA', 'SENTIDO', 'MONEDERO_ID', 'EMISOR_CONTRATO', 'SAM_ID', 'LG_ID', 'TIPO_TERMINAL', 'ID_SERVICIO', 'VERSION_TIPO_TRX', 'ID_INTEGRADOR', 'EMISOR_MONEDERO') to (251, 3367, 36137030906556932, 1845844391, 621, 19, '15/03/2023 16:10:43', '27', '207,98', '27', 111, 4300, 2591169, 12, 101, 5, 5, 0, '15/03/2023 21:34:18', 7562, 302296524, 'USO', 1, nan, 602, 5, 252436045, nan, nan, nan, nan, nan, nan)
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   CODIGOENTIDAD       336858 non-null  object
 1   IDLINEA             336858 non-null  object
 2   NROTARJETA          336858 non-null  object
 3   CODIGOCONTRATO      336858 non-null  object
 4   FECHATRX            336858 non-null  object
 5   CODIGOTIPOTRX       336858 non-null  object
 6   RAMAL               336858 non-null  object
 7   ID_POSICIONAMIENTO  47459 non-null   object
 8   ID_COMBINACION      47459 non-null   object
dtypes: object(9)
memory usage: 76.2+ MB

In [7]:
data.describe()

,CODIGOENTIDAD,IDLINEA,NROTARJETA,CODIGOCONTRATO,FECHATRX,CODIGOTIPOTRX,RAMAL,ID_POSICIONAMIENTO,ID_COMBINACION
count,336858,336858,336858,336858,336858,336858,336858,47459.0,47459
unique,33,16,42,3,813,12375,642,7.0,25
top,1,1,0,0,10,9,0,1.0,27
freq,111324,277761,287566,320474,3064,359,13062,43266.0,23281

# Describe e Info
No dan mucha información porque todos los valores almacenados son objetos. Vamos a tener que usar otras estrategias para estudiar media, moda y cuartiles de los que nos intersan. 
Lo que veo rara es que en la descripción de las tablas hay cosas que ya veo que no se corresponden, como la cantidad de valores únicos de codigo entidad

In [12]:
data.head()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                CODIGOENTIDAD  \
CODIGOENTIDAD IDLINEA NROCHIP           NROTARJETA CODIGOCONTRATO SECUENCIA_TARJETA FECHATRX            MONTO SALDO  VALOR_TARIFA INTERNO DISPOSITIVO SECTERMINAL CODIGOTIPOTRX CODIGOSUBTIPOTRX TIPOMAPPING ENTIDAD_EMISORA_TARJ CODIGOERROR FECHAPROCESO        RAMAL IDARCHIVOINTERCAMBIO CODIGOROL CODIGOTIPOTARJETA SENTIDO MONEDERO_ID EMISOR_CONTRATO SAM_ID              LG_ID TIPO_TERMINAL ID_SERVICIO VERSION_TIPO_TRX ID_INTEGRADOR EMISOR_MONEDERO   SECCION_FIN
251           3367    36141451630173956 1844448190 621            80                11/03/2023 16:02:56 0     184,83 27           125     4298        1778856     22            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        6                17            5                           1
                      1482717359        1823103459 602            829               11/03/2023 15:51:05 60    18,67  60           125     4298        1778852     12            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        4                17            5                           1
                                                                  828               11/03/2023 15:51:01 60    78,67  60           125     4298        1778849     12            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        4                17            5                           1
                      36133585936526852 1842044370 602            125               11/03/2023 15:50:57 60    23     60           125     4298        1778846     12            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        4                17            5                           1

                                                                                                                                                                                                                                                                                                                                                                                                                                                                        IDLINEA  \
CODIGOENTIDAD IDLINEA NROCHIP           NROTARJETA CODIGOCONTRATO SECUENCIA_TARJETA FECHATRX            MONTO SALDO  VALOR_TARIFA INTERNO DISPOSITIVO SECTERMINAL CODIGOTIPOTRX CODIGOSUBTIPOTRX TIPOMAPPING ENTIDAD_EMISORA_TARJ CODIGOERROR FECHAPROCESO        RAMAL IDARCHIVOINTERCAMBIO CODIGOROL CODIGOTIPOTARJETA SENTIDO MONEDERO_ID EMISOR_CONTRATO SAM_ID              LG_ID TIPO_TERMINAL ID_SERVICIO VERSION_TIPO_TRX ID_INTEGRADOR EMISOR_MONEDERO  SECCION_INICIO
251           3367    36141451630173956 1844448190 621            80                11/03/2023 16:02:56 0     184,83 27           125     4298        1778856     22            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        6                17            5                             1
                      1482717359        1823103459 602            829               11/03/2023 15:51:05 60    18,67  60           125     4298        1778852     12            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        4                17            5                             1
                                                                  828               11/03/2023 15:51:01 60    78,67  60           125     4298        1778849     12            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        4                17            5                             1
                      36133585936526852 1842044370 602            125               11/03/2023 15:50:57 60    23     60           125     4298        1778846     12            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        4                17            5                             1

                                                                                                                                                                                                                                                                                                                                                                                                                                                                NROTARJETA  \
CODIGOENTIDAD IDLINEA NROCHIP           NROTARJETA CODIGOCONTRATO SECUENCIA_TARJETA FECHATRX            MONTO SALDO  VALOR_TARIFA INTERNO DISPOSITIVO SECTERMINAL CODIGOTIPOTRX CODIGOSUBTIPOTRX TIPOMAPPING ENTIDAD_EMISORA_TARJ CODIGOERROR FECHAPROCESO        RAMAL IDARCHIVOINTERCAMBIO CODIGOROL CODIGOTIPOTARJETA SENTIDO MONEDERO_ID EMISOR_CONTRATO SAM_ID              LG_ID TIPO_TERMINAL ID_SERVICIO VERSION_TIPO_TRX ID_INTEGRADOR EMISOR_MONEDERO  DESCUENTO
251           3367    36141451630173956 1844448190 621            80                11/03/2023 16:02:56 0     184,83 27           125     4298        1778856     22            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        6                17            5                       27
                      1482717359        1823103459 602            829               11/03/2023 15:51:05 60    18,67  60           125     4298        1778852     12            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        4                17            5                        0
                                                                  828               11/03/2023 15:51:01 60    78,67  60           125     4298        1778849     12            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        4                17            5                        0
                      36133585936526852 1842044370 602            125               11/03/2023 15:50:57 60    23     60           125     4298        1778846     12            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        4                17            5                        0

                                                                                                                                                                                                                                                                                                                                                                                                                                                                CODIGOCONTRATO  \
CODIGOENTIDAD IDLINEA NROCHIP           NROTARJETA CODIGOCONTRATO SECUENCIA_TARJETA FECHATRX            MONTO SALDO  VALOR_TARIFA INTERNO DISPOSITIVO SECTERMINAL CODIGOTIPOTRX CODIGOSUBTIPOTRX TIPOMAPPING ENTIDAD_EMISORA_TARJ CODIGOERROR FECHAPROCESO        RAMAL IDARCHIVOINTERCAMBIO CODIGOROL CODIGOTIPOTARJETA SENTIDO MONEDERO_ID EMISOR_CONTRATO SAM_ID              LG_ID TIPO_TERMINAL ID_SERVICIO VERSION_TIPO_TRX ID_INTEGRADOR EMISOR_MONEDERO      PROVISION
251           3367    36141451630173956 1844448190 621            80                11/03/2023 16:02:56 0     184,83 27           125     4298        1778856     22            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        6                17            5                            0
                      1482717359        1823103459 602            829               11/03/2023 15:51:05 60    18,67  60           125     4298        1778852     12            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        4                17            5                            0
                                                                  828               11/03/2023 15:51:01 60    78,67  60           125     4298        1778849     12            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        4                17            5                            0
                      36133585936526852 1842044370 602            125               11/03/2023 15:50:57 60    23     60           125     4298        1778846     12            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        4                17            5                            0

                                                                                                                                                                                                                                                                                                                                                                                                                                                                           FECHATRX  \
CODIGOENTIDAD IDLINEA NROCHIP           NROTARJETA CODIGOCONTRATO SECUENCIA_TARJETA FECHATRX            MONTO SALDO  VALOR_TARIFA INTERNO DISPOSITIVO SECTERMINAL CODIGOTIPOTRX CODIGOSUBTIPOTRX TIPOMAPPING ENTIDAD_EMISORA_TARJ CODIGOERROR FECHAPROCESO        RAMAL IDARCHIVOINTERCAMBIO CODIGOROL CODIGOTIPOTARJETA SENTIDO MONEDERO_ID EMISOR_CONTRATO SAM_ID              LG_ID TIPO_TERMINAL ID_SERVICIO VERSION_TIPO_TRX ID_INTEGRADOR EMISOR_MONEDERO  ID_POSICIONAMIENTO
251           3367    36141451630173956 1844448190 621            80                11/03/2023 16:02:56 0     184,83 27           125     4298        1778856     22            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        6                17            5                                37
                      1482717359        1823103459 602            829               11/03/2023 15:51:05 60    18,67  60           125     4298        1778852     12            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        4                17            5                                34
                                                                  828               11/03/2023 15:51:01 60    78,67  60           125     4298        1778849     12            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        4                17            5                                34
                      36133585936526852 1842044370 602            125               11/03/2023 15:50:57 60    23     60           125     4298        1778846     12            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        4                17            5                                34

                                                                                                                                                                                                                                                                                                                                                                                                                                                                CODIGOTIPOTRX  \
CODIGOENTIDAD IDLINEA NROCHIP           NROTARJETA CODIGOCONTRATO SECUENCIA_TARJETA FECHATRX            MONTO SALDO  VALOR_TARIFA INTERNO DISPOSITIVO SECTERMINAL CODIGOTIPOTRX CODIGOSUBTIPOTRX TIPOMAPPING ENTIDAD_EMISORA_TARJ CODIGOERROR FECHAPROCESO        RAMAL IDARCHIVOINTERCAMBIO CODIGOROL CODIGOTIPOTARJETA SENTIDO MONEDERO_ID EMISOR_CONTRATO SAM_ID              LG_ID TIPO_TERMINAL ID_SERVICIO VERSION_TIPO_TRX ID_INTEGRADOR EMISOR_MONEDERO           PTC
251           3367    36141451630173956 1844448190 621            80                11/03/2023 16:02:56 0     184,83 27           125     4298        1778856     22            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        6                17            5                          75
                      1482717359        1823103459 602            829               11/03/2023 15:51:05 60    18,67  60           125     4298        1778852     12            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        4                17            5                         826
                                                                  828               11/03/2023 15:51:01 60    78,67  60           125     4298        1778849     12            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        4                17            5                         825
                      36133585936526852 1842044370 602            125               11/03/2023 15:50:57 60    23     60           125     4298        1778846     12            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        4                17            5                         122

                                                                                                                                                                                                                                                                                                                                                                                                                                                                RAMAL  \
CODIGOENTIDAD IDLINEA NROCHIP           NROTARJETA CODIGOCONTRATO SECUENCIA_TARJETA FECHATRX            MONTO SALDO  VALOR_TARIFA INTERNO DISPOSITIVO SECTERMINAL CODIGOTIPOTRX CODIGOSUBTIPOTRX TIPOMAPPING ENTIDAD_EMISORA_TARJ CODIGOERROR FECHAPROCESO        RAMAL IDARCHIVOINTERCAMBIO CODIGOROL CODIGOTIPOTARJETA SENTIDO MONEDERO_ID EMISOR_CONTRATO SAM_ID              LG_ID TIPO_TERMINAL ID_SERVICIO VERSION_TIPO_TRX ID_INTEGRADOR EMISOR_MONEDERO   LTC
251           3367    36141451630173956 1844448190 621            80                11/03/2023 16:02:56 0     184,83 27           125     4298        1778856     22            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        6                17            5                   2
                      1482717359        1823103459 602            829               11/03/2023 15:51:05 60    18,67  60           125     4298        1778852     12            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        4                17            5                  27
                                                                  828               11/03/2023 15:51:01 60    78,67  60           125     4298        1778849     12            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        4                17            5                  27
                      36133585936526852 1842044370 602            125               11/03/2023 15:50:57 60    23     60           125     4298        1778846     12            101              5           5                    0           11/03/2023 23:13:10 7562  301900522            USO       1                 NaN     602         5               2524360459458581026 NaN   1             1621        4                17            5                   5

                                                                                                                                                                                                                                                                                                                                                                                                                                                                ID_POSICIONAMIENTO  \

In [13]:
data.tail()

                                                                                                                                                                                                                      CODIGOENTIDAD  \
254 3426 972795343         1813836681 621 3073 11/03/2023 12:35:57 38,93 667,96 38,93 6   4315 2773529 12 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 4   17  5             3.0
                                          3072 11/03/2023 12:35:53 0     706,89 38,93 6   4315 2773528 22 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 6   17  5             3.0
         40553023001708548 1847685906 621 103  11/03/2023 12:35:50 38,93 -18,96 38,93 6   4315 2773527 12 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 4   17  5             3.0
         1478110959        1823099327 602 117  11/03/2023 12:35:32 86,5  -89,1  86,5  6   4315 2773521 12 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 4   17  5             3.0
251 3367 36137030906556932 1845844391 621 19   15/03/2023 16:10:43 27    207,98 27    111 4300 2591169 12 101 5 5 0 15/03/2023 21:34:18 7562 302296524 USO 1 NaN 602 5 252436045           NaN NaN NaN    NaN NaN NaN           NaN

                                                                                                                                                                                                                      IDLINEA  \
254 3426 972795343         1813836681 621 3073 11/03/2023 12:35:57 38,93 667,96 38,93 6   4315 2773529 12 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 4   17  5       1.0
                                          3072 11/03/2023 12:35:53 0     706,89 38,93 6   4315 2773528 22 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 6   17  5       1.0
         40553023001708548 1847685906 621 103  11/03/2023 12:35:50 38,93 -18,96 38,93 6   4315 2773527 12 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 4   17  5       1.0
         1478110959        1823099327 602 117  11/03/2023 12:35:32 86,5  -89,1  86,5  6   4315 2773521 12 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 4   17  5       1.0
251 3367 36137030906556932 1845844391 621 19   15/03/2023 16:10:43 27    207,98 27    111 4300 2591169 12 101 5 5 0 15/03/2023 21:34:18 7562 302296524 USO 1 NaN 602 5 252436045           NaN NaN NaN    NaN NaN NaN     NaN

                                                                                                                                                                                                                      NROTARJETA  \
254 3426 972795343         1813836681 621 3073 11/03/2023 12:35:57 38,93 667,96 38,93 6   4315 2773529 12 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 4   17  5            0
                                          3072 11/03/2023 12:35:53 0     706,89 38,93 6   4315 2773528 22 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 6   17  5        38,93
         40553023001708548 1847685906 621 103  11/03/2023 12:35:50 38,93 -18,96 38,93 6   4315 2773527 12 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 4   17  5            0
         1478110959        1823099327 602 117  11/03/2023 12:35:32 86,5  -89,1  86,5  6   4315 2773521 12 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 4   17  5            0
251 3367 36137030906556932 1845844391 621 19   15/03/2023 16:10:43 27    207,98 27    111 4300 2591169 12 101 5 5 0 15/03/2023 21:34:18 7562 302296524 USO 1 NaN 602 5 252436045           NaN NaN NaN    NaN NaN NaN        NaN

                                                                                                                                                                                                                      CODIGOCONTRATO  \
254 3426 972795343         1813836681 621 3073 11/03/2023 12:35:57 38,93 667,96 38,93 6   4315 2773529 12 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 4   17  5              0.0
                                          3072 11/03/2023 12:35:53 0     706,89 38,93 6   4315 2773528 22 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 6   17  5              0.0
         40553023001708548 1847685906 621 103  11/03/2023 12:35:50 38,93 -18,96 38,93 6   4315 2773527 12 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 4   17  5              0.0
         1478110959        1823099327 602 117  11/03/2023 12:35:32 86,5  -89,1  86,5  6   4315 2773521 12 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 4   17  5              0.0
251 3367 36137030906556932 1845844391 621 19   15/03/2023 16:10:43 27    207,98 27    111 4300 2591169 12 101 5 5 0 15/03/2023 21:34:18 7562 302296524 USO 1 NaN 602 5 252436045           NaN NaN NaN    NaN NaN NaN            NaN

                                                                                                                                                                                                                      FECHATRX  \
254 3426 972795343         1813836681 621 3073 11/03/2023 12:35:57 38,93 667,96 38,93 6   4315 2773529 12 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 4   17  5      114.0
                                          3072 11/03/2023 12:35:53 0     706,89 38,93 6   4315 2773528 22 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 6   17  5      114.0
         40553023001708548 1847685906 621 103  11/03/2023 12:35:50 38,93 -18,96 38,93 6   4315 2773527 12 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 4   17  5      114.0
         1478110959        1823099327 602 117  11/03/2023 12:35:32 86,5  -89,1  86,5  6   4315 2773521 12 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 4   17  5      113.0
251 3367 36137030906556932 1845844391 621 19   15/03/2023 16:10:43 27    207,98 27    111 4300 2591169 12 101 5 5 0 15/03/2023 21:34:18 7562 302296524 USO 1 NaN 602 5 252436045           NaN NaN NaN    NaN NaN NaN      NaN

                                                                                                                                                                                                                      CODIGOTIPOTRX  \
254 3426 972795343         1813836681 621 3073 11/03/2023 12:35:57 38,93 667,96 38,93 6   4315 2773529 12 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 4   17  5          3045.0
                                          3072 11/03/2023 12:35:53 0     706,89 38,93 6   4315 2773528 22 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 6   17  5          3044.0
         40553023001708548 1847685906 621 103  11/03/2023 12:35:50 38,93 -18,96 38,93 6   4315 2773527 12 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 4   17  5           102.0
         1478110959        1823099327 602 117  11/03/2023 12:35:32 86,5  -89,1  86,5  6   4315 2773521 12 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 4   17  5           114.0
251 3367 36137030906556932 1845844391 621 19   15/03/2023 16:10:43 27    207,98 27    111 4300 2591169 12 101 5 5 0 15/03/2023 21:34:18 7562 302296524 USO 1 NaN 602 5 252436045           NaN NaN NaN    NaN NaN NaN           NaN

                                                                                                                                                                                                                      RAMAL  \
254 3426 972795343         1813836681 621 3073 11/03/2023 12:35:57 38,93 667,96 38,93 6   4315 2773529 12 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 4   17  5    12.0
                                          3072 11/03/2023 12:35:53 0     706,89 38,93 6   4315 2773528 22 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 6   17  5    12.0
         40553023001708548 1847685906 621 103  11/03/2023 12:35:50 38,93 -18,96 38,93 6   4315 2773527 12 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 4   17  5     8.0
         1478110959        1823099327 602 117  11/03/2023 12:35:32 86,5  -89,1  86,5  6   4315 2773521 12 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 4   17  5     7.0
251 3367 36137030906556932 1845844391 621 19   15/03/2023 16:10:43 27    207,98 27    111 4300 2591169 12 101 5 5 0 15/03/2023 21:34:18 7562 302296524 USO 1 NaN 602 5 252436045           NaN NaN NaN    NaN NaN NaN   NaN

                                                                                                                                                                                                                      ID_POSICIONAMIENTO  \
254 3426 972795343         1813836681 621 3073 11/03/2023 12:35:57 38,93 667,96 38,93 6   4315 2773529 12 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 4   17  5                  NaN
                                          3072 11/03/2023 12:35:53 0     706,89 38,93 6   4315 2773528 22 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 6   17  5                  1.0
         40553023001708548 1847685906 621 103  11/03/2023 12:35:50 38,93 -18,96 38,93 6   4315 2773527 12 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 4   17  5                  NaN
         1478110959        1823099327 602 117  11/03/2023 12:35:32 86,5  -89,1  86,5  6   4315 2773521 12 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 4   17  5                  NaN
251 3367 36137030906556932 1845844391 621 19   15/03/2023 16:10:43 27    207,98 27    111 4300 2591169 12 101 5 5 0 15/03/2023 21:34:18 7562 302296524 USO 1 NaN 602 5 252436045           NaN NaN NaN    NaN NaN NaN                NaN

                                                                                                                                                                                                                      ID_COMBINACION
254 3426 972795343         1813836681 621 3073 11/03/2023 12:35:57 38,93 667,96 38,93 6   4315 2773529 12 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 4   17  5              NaN
                                          3072 11/03/2023 12:35:53 0     706,89 38,93 6   4315 2773528 22 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 6   17  5            38,93
         40553023001708548 1847685906 621 103  11/03/2023 12:35:50 38,93 -18,96 38,93 6   4315 2773527 12 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 4   17  5              NaN
         1478110959        1823099327 602 117  11/03/2023 12:35:32 86,5  -89,1  86,5  6   4315 2773521 12 101 5 5 0 13/03/2023 22:51:12 7612 302068678 USO 1 NaN 602 5 2525763560295435547 NaN 1   1912.0 4   17  5              NaN
251 3367 36137030906556932 1845844391 621 19   15/03/2023 16:10:43 27    207,98 27    111 4300 2591169 12 101 5 5 0 15/03/2023 21:34:18 7562 302296524 USO 1 NaN 602 5 252436045           NaN NaN NaN    NaN NaN NaN            NaN

# de los head y tail
No llego a entender bien el formato de los datos, como podemos trabajar con esto? no sé si está mal el formato o si esta tabla los muestra raro.

Muchos NaN